<div class="container-fluid">
    <div>
        <mat-card appearance="outlined" class="main">
            <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
                <div class="boundary">
                    <span class="material-symbols-outlined">
                        potted_plant
                    </span>
                </div>
                <div>
                    <h4 style="font-weight: 700;text-align: center;font-family: sans-serif; margin-bottom: 20px;">CREATE
                        ACCOUNT</h4>
                </div>
                <div class="width">
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td><mat-form-field class="example-full-width">
                                    <mat-label>Full Name</mat-label>
                                    <input matInput name="fullName" name="fullName" [(ngModel)]="userData.fullName" required>
                                </mat-form-field></td>
                        </tr>
                    </table>
                </div>
                <div class="width">
                    <mat-form-field class="example-full-width">
                        <mat-label>Phone No</mat-label>
                        <input type="tel" matInput placeholder="555-555-1234" name="phoneNo" [(ngModel)]="userData.phoneNo"
                            minlength="10" maxlength="10" required>
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="selector">
  <mat-label>Select an option</mat-label>
  <mat-select 
    disableRipple 
    name="role" 
    [(ngModel)]="userData.role" 
    required>

    <mat-option value="farm-owner">Farm Owner</mat-option>
    <mat-option value="farm-worker">Farm Worker</mat-option>
    <mat-option value="admin">Admin</mat-option>

  </mat-select>
</mat-form-field>
                </div>
                <div>
                    <mat-form-field class="width">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide() ? 'password' : 'text'" name="password" [(ngModel)]="userData.password"
                            ngModel required>
                        <button mat-icon-button matSuffix type="button" (click)="clickEvent($event)"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="width">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" name="confirmPassword"
                            [(ngModel)]="userData.confirmPassword" ngModel required>
                        <button mat-icon-button matSuffix type="button"
                            (click)="hideConfirmPassword = !hideConfirmPassword">
                            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="example-button-row">
                    <button mat-flat-button>Create Account</button>
                </div>
                <div class="example-login-button">
                    <h5>Already Have a Account? <span (click)="loginPage()"
                            style="text-decoration: underline;color: blue;">Login</span></h5>
                </div>
            </form>
        </mat-card>
    </div>
</div>
