<div class="main-container" style="display: flex; flex-direction: row; height: 100vh; width: 100vw; overflow: hidden;">
 
  <!-- <ng-container *ngIf="showNav()"> -->
    <div>
      <app-admin-navabr *ngIf="userRole === 'admin' && showNav()"></app-admin-navabr>
      <app-worker-navbar *ngIf="userRole === 'farm-worker'&& showNav() "></app-worker-navbar>
      <app-navbar *ngIf="userRole === 'farm-owner' && showNav()"></app-navbar>
    </div>
  <!-- </ng-container> -->

  <main class="page-content" style="flex-grow: 1; height: auto; overflow-y: auto; padding: 20px;">
    <router-outlet/>
  </main>
</div>
