<mat-sidenav-container class="layout-container">
  <mat-sidenav mode="side" opened class="sidebar">



    
 

 

 
    <!-- Sidebar Header -->
   <div class="logo">
  <span class="material-symbols-outlined logo-icon">potted_plant</span>

  <div class="logo-text">
    <h3>HydroGrow</h3>
    <p>OWNER PORTAL</p>
  </div>
</div>


<!-- Sidebar Menu -->
    <mat-nav-list class="sidebar-menu">

  <a mat-list-item routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    <span class="menu-text">Dashboard</span>
  </a>

  <a mat-list-item routerLink="/farms">
    <mat-icon>agriculture</mat-icon>
    <span class="menu-text">Farms</span>
  </a>

  <!-- Crops -->
<div class="menu-parent" (click)="openCrops()">
  <mat-icon >eco</mat-icon>
  <span class="crop">Crops</span>
</div>

@if (showCropsMenu) {
  <div class="submenu">
    <a mat-list-item routerLink="/crops-health">
 
      <span>Crop Health Manager</span>
    </a>
  </div>
}

   <a mat-list-item routerLink="/sensors">
    <mat-icon>sensors</mat-icon>
    <span class="menu-text">Sensors</span>
  </a>

  <a mat-list-item routerLink="/alerts">
    <mat-icon>notifications</mat-icon>
    <span class="menu-text">Alerts</span>
  </a>

  <a mat-list-item routerLink="/ai-tools">
    <mat-icon>psychology</mat-icon>
    <span class="menu-text">AI Tools</span>
  </a>

</mat-nav-list>
  </mat-sidenav>

 
    <!-- Top Navigation -->
    <mat-toolbar class="navbar">
<!-- <button mat-icon-button (click)="toggleSidebar()">
  <mat-icon>menu</mat-icon>
</button> -->
      <mat-form-field appearance="fill" class="search-bar">
        <mat-icon matPrefix class="search-icon">search</mat-icon>

        <input matInput placeholder="Search systems, crops or alerts..." />
      </mat-form-field>

      <span class="spacer"></span>

      <button mat-icon-button class="notification-btn">
        <mat-icon>notifications</mat-icon>
        <span class="notification-dot"></span>
      </button>

      <!-- Divider -->
      <div class="nav-divider"></div>

      <!-- User Info -->
      <div class="user-profile">
        <div class="user-text">
          <div class="user-name">James Farmworth</div>
          <div class="user-role">Senior Owner</div>
        </div>

        <!-- Avatar -->
        <div class="avatar">
          <img
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuATajDVNQH4Ld6WzoWilkABeJrwVvHLq3yYOz6TI1EcPBPeXZ7OB8aqnxtYwfNzG41IGo9Y1H99MQgCMbXmuRhiEtlz2tWAb27y9LSC4ug0TL9xT-mt8aJDoL_Zkm4_QdZ7X5nYOC5t0N1tNPVSWvvg7BWVV3oX_ziWFvU0g6bFRyLm_kWT1n7a3OlVsQntXL_aP1DLP2CzKEbFHGKTGE4fyEHXxq1cmFpXf4oaItibGakcdQrOeiE_8b0d0JXPBSxZ1A2X_r1CQRen"
          />
        </div>
      </div>
    </mat-toolbar>

    <!-- Page Content -->
    <div class="content">
      <router-outlet></router-outlet>
      <!-- <app-super-admin-dashboard></app-super-admin-dashboard>  -->
    </div>
 
</mat-sidenav-container>
